---
layout: layouts/base.njk
title: Eleventy
---

<h1>Posts</h1>

{% for post in posts.items %}
<div class="post">
  <h2>
    <a href="/post/{{post.fields.name | slug}}">
      {{ post.fields.name }}
    </a>
  </h2>
</div>
{% endfor %}

<h1>Pages</h1>

{% for page in collections.pages %}
<div class="page">
  <h2>
    <a href="/page/{{ page.data.title | slug }}">
      {{ page.data.title }}
    </a>
  </h2>
</div>
{% endfor %}

<h1>Contentful sync entries</h1>

{% for entry in contentfulSync.entries %}
<div class="entry">
  <h2>
    <a href="/entry/{{ entry.name | slug }}">
      {{ entry.name }}
    </a>
  </h2>
</div>
{% endfor %}
