---
layout: layouts/base.njk
title: Eleventy
---

{% for post in posts.items %}
<div class="post">
  <h2>
    <a href="/post/{{post.fields.name | slug}}">
      {{post.fields.name}}
    </a>
  </h2>
</div>
{% endfor %}
